.app-wrapper {
  border: 1px lightslategray solid;
  width: 8.5in;
  height: 11in;
  padding: 15px;
}


.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24rem;
}

.info:first-child {
  align-self: flex-start;
}

.app-preview {
  display: none;
}

