.app-wrapper {
  border: 1px #94a3b8 solid;
  width: 8.5in;
  max-height: auto;
  min-height: 11in;
  padding: 15px;
  color: #1e293b;
  box-shadow: .1rem .1rem .3rem #94a3b8, -.1rem -.1rem .3rem #94a3b8;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24rem;
}

.info:first-child {
  align-self: flex-start;
}

h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.app-input.hidden,
.app-preview.hidden {
  display: none;
}

.app-input,
.app-preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edu-form,
.exp-form {
  margin: 2rem 0;
}

.exp-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: .2rem;
  border-radius: .5rem;
  border: 1px solid #64748b;
  background-color: #f1f5f9;
}

button:hover {
  color: #fff;
  background-color: #64748b;
  cursor: pointer;
}

input {
  outline: none;
  border: 1px solid #e2e8f0;
  font-weight: 600;
  color: #1e293b;
}
