.exp-entries {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.6rem;
}

.exp-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.exp-form input, .exp-form textarea {
  padding: .5rem;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.exp-form button {
  width: 22%;
}

.entry button {
  width: 22%;
}

.exp-entrydates,
.exp-entrycompany,
.exp-entrytitle,
.exp-entrydesc span {
  font-weight: bold;
  font-size: 1.7rem;
}

.exp-entrydesc {
  display: flex;
  flex-direction: column;
}
